@using WorldNews.Helpers

<li>
    @Ajax.ActionLinkCloseSidebar("Profile", "Edit", "Admin")
</li>
<li>
    <a href="#moderatorSubmenu" data-toggle="collapse" aria-expanded="false">Manage moderators</a>
    <ul class="collapse list-unstyled" id="moderatorSubmenu">
        <li>
            @Ajax.ActionLinkCloseSidebar("Register", "RegisterModerator", "Account")
        </li>
        <li>
            @Ajax.ActionLinkCloseSidebar("List", "List", "Moderator")
        </li>
    </ul>
</li>
<li>
    @Ajax.ActionLinkCloseSidebar("Articles with authors", "ListAuthors", "Article")
</li>
<li>
    <a href="#banSubmenu" data-toggle="collapse" aria-expanded="false">Manage ban reasons</a>
    <ul class="collapse list-unstyled" id="banSubmenu">
        <li>
            @Ajax.ActionLinkCloseSidebar("Create", "Create", "BanReason")
        </li>
        <li>
            @Ajax.ActionLinkCloseSidebar("List", "List", "BanReason")
        </li>
    </ul>
</li>