@model IEnumerable<WorldNews.Models.Comment.CommentBanDetailsViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BanReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBanned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BanReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBanned)
        </td>
    </tr>
}

</table>
