@using WorldNews.Helpers
@model IEnumerable<WorldNews.Models.Comment.CommentBanDetailsViewModel>

<ul class="list-group list-group-flush">
    @foreach (var comment in Model)
    {
        <li class="list-group-item">
            <blockquote class="blockquote">
                <p class="mb-0 text-danger">@Html.DisplayFor(model => @comment.BanReason)</p>
                <p class="mb-0">@Html.MultilineText(comment.Text)</p>
                <footer class="blockquote-footer">
                    @Html.DisplayFor(model => @comment.DateBanned) -
                    <cite>
                        @Html.DisplayFor(model => @comment.AuthorFullName)
                    </cite>
                </footer>
            </blockquote>
        </li>
    }
</ul>