@using WorldNews.Helpers
@model WorldNews.Models.Comment.CommentCreateViewModel

@{string articleId = Url.Encode(Model.ArticleId);}

@using (Ajax.BeginForm("Create", "Comment", "/Article/Details?id=" + articleId)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => articleId)
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Leave comment" class="btn btn-primary" />
            </div>
        </div>
    </div>
}