@using WorldNews.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World News</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/Sidebar/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @{Html.RenderSidebar(User);}
        <div id="content">
            @{Html.RenderPartial("Navigation");}
            <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnModalAction">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="main-content">
                    @RenderBody()
                </div>
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - World News</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tether")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/nicescroll")
    @Scripts.Render("~/bundles/sidebar")

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Ajax/ajax-functions.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
