@using WorldNews.Helpers
@model WorldNews.Models.Article.ArticleDetailsViewModel

<div class="row">
    <div class="col-md-6">
        <div>
            <p class="h5">@Html.DisplayFor(model => model.CategoryName)</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <p class="h5">@Html.DisplayFor(model => model.DateCreated)</p>
        </div>
    </div>
</div>
<div>
    <h3 class="h3">@Html.DisplayFor(model => model.Header)</h3>
</div>
<div>
    <img src="@Url.Content(Model.PhotoLink)" alt="Image" />
    <p>@Html.TextToHtml(Model.Text)</p>
</div>

<hr />
<div id="comments">
    @{Html.RenderPartial("~/Views/Comment/List.cshtml", Model.Comments);}
    @{Html.RenderCreateCommentPartial(User, Model.Id);}
</div>