@model WorldNews.Models.Article.ArticleOfCategoryListViewModel
@{
    var articles = Model.Articles
        .Select((x, i) => new { x, i })
        .GroupBy(p => (p.i / 2), p => p.x);
}

<p class="display-4">@(Model.CategoryName ?? "Latest news")</p>
@foreach (var row in articles)
{
    <div class="row mb-4">
        @foreach (var item in row)
        {
            <div class="col-6 card-deck">
                <div class="card">
                    <img class="img-fluid img-article rounded card-img-top" src="@Url.Content(item.PhotoLink)" alt="Photo">
                    <div class="card-block">
                        <a href="@Url.Action("Details", "Article", new { id = Url.Encode(item.Id) })" class="heading text-justify">
                            <p class="mb-2">@item.Header</p>
                        </a>
                        <p class="text-justify text-article">@Html.DisplayFor(model => item.Description)</p>
                    </div>
                    <div class="card-footer text-right">
                        @Html.DisplayFor(model => item.DateCreated)
                    </div>
                </div>
            </div>
        }
    </div>
}
@{
    WorldNews.Models.PageViewModel viewModel = new WorldNews.Models.PageViewModel
    {
        Action = "List",
        ControllerName = "Article",
        CurrentPage = Model.CurrentPage,
        PagesCount = Model.PagesCount
    };
    if (Model.CategoryName != null)
    {
        viewModel.RouteValues.Add("categoryName", Model.CategoryName);
    }

    Html.RenderPartial("~/Views/Shared/Pagination.cshtml", viewModel);
}