@using WorldNews.Helpers
@model IEnumerable<WorldNews.Models.Article.ArticleAuthorListViewModel>

@foreach (var article in Model)
{
    string id = Url.Encode(article.Id);

    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <p class="card-header h4">
                    @TextHelper.MaxString(article.Header, 70)
                </p>
                <div class="card-block">
                    <h4 class="card-title">
                        @Html.DisplayFor(model => article.AuthorFullName)
                        (@Html.ActionLink(article.AuthorLogin, "Details", "Moderator", new { login = article.AuthorLogin }, null))
                    </h4>
                    <div class="card-text">
                        <p>
                            @Html.DisplayNameFor(model => model.First().DateCreated)
                            @Html.DisplayFor(model => article.DateCreated)
                            <span class="pull-right badge badge-pill badge-default">
                                @Html.DisplayNameFor(model => model.First().CommentsCount)
                                @Html.DisplayFor(model => article.CommentsCount)
                            </span>
                        </p>
                    </div>
                    @Html.ActionLink("Go to article", "Details", "Article", new { id = id }, new { @class = "btn btn-primary" })
                </div>
                <div class="card-footer text-muted">
                    @Html.DisplayNameFor(model => model.First().DateLastModified)
                    @DateTimeHelper.TimeAgo(article.DateLastModified)
                </div>
            </div>
        </div>
    </div>
}